<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Merchex</title>
</head>
<body>
  <h1>Hello Django !</h1>
  <p>J'ai {{ bands|length }} groupes préférés qui sont :</p>
  <ul>
    {% for band in bands %}
    <li>{{ band.name }}.</li>
  {% endfor %}
  </ul>
  <p>
    J'ai donc
    {% if bands|length < 5 %}
    peu de
    {% elif bands|length < 10 %}
    quelques
    {% else %}
    beaucoup de
    {% endif %}
    groupes préférés.
  </p>
</body>
</html>